{% extends 'base.html.twig' %}

{% block titrePage %}Options de l'application{% endblock %}
{% block optionsAppli %} active {% endblock %}

{% block contenu %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th class="intitule">Préparer l'application pour l'année universitaire suivante</th>
                <td> <a href="#validationVidageBD" data-toggle='modal' data-target='#validationVidageBD' class="d-sm-inline-block btn btn-sm btn-danger shadow-sm"">Vider la base de données</a> </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modale du ? de évaluable -->
    <div class="modal fade" id="validationVidageBD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    Préparer l'application pour l'année universitaire suivante aura pour effet de supprimer de l'application :
                    <ul>
                        <li>Tous les groupes</li>
                        <li>Tous les groupes d'étudiants ayant un statut particulier</li>
                        <li>Toutes les évaluations</li>
                        <li>Tous les étudiants</li>
                    </ul>
                    Les profils des enseignants ne seront pas supprimés.
                </div>
                <div class="modal-footer">
                    <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('preparer_annee_suivante') }}">Valider</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}