{% extends 'base.html.twig' %}

{% block tutoriels %}active{% endblock %}

{% block titrePage %}Visionner les tutoriels de l'application{% endblock %}

{% block contenu %}
    <h1 class="h4 mb-0 text-gray-800">Consulter les statistiques sur une évaluation simple</h1> <br>
    <div style="text-align: center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GOnInLA9GEg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

{% endblock %}