textarea {
  resize: none;
}

.intitule {
  width: 40%;
}

.bouton {
  margin-bottom: 20px;
  margin-top: 25px;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Parcourir";
}

.info {
  text-align: center;
  margin-bottom: 20px;
}

.custom-footer {
  margin-top: 20px;
}

#error {
  margin-top: 50vh;
  transform: translateY(-50%);
}
