textarea {
  resize: none;
}

.intitule {
  font-weight: bold;
}

.bouton {
  text-align: center;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Parcourir";
}

.info {
  text-align: center;
  margin-bottom: 20px;
}
