
.icon-teacher:before { content: '\e800'; } /* '' */
.icon-logo-noteo:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-evaluation:before { content: '\e804'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-tags:before { content: '\e806'; } /* '' */
.icon-pencil-1:before { content: '\e807'; } /* '' */
.icon-help-circled:before { content: '\e808'; } /* '' */
.icon-down-open:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-eval-composee:before { content: '\e80b'; } /* '' */
.icon-eval-simple:before { content: '\e80c'; } /* '' */
.icon-communism:before { content: '\e80d'; } /* '' */
.icon-mail:before { content: '\e80e'; } /* '' */
.icon-doc:before { content: '\f04a'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */