
.icon-teacher:before { content: '\e800'; } /* '' */
.icon-logo-noteo:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-evaluation:before { content: '\e804'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-tags:before { content: '\e806'; } /* '' */
.icon-pencil-1:before { content: '\e807'; } /* '' */
.icon-help-circled:before { content: '\e808'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */