{% extends 'base.html.twig' %}

{% block contenu %}

<table>
  <tr>
    <td>icon-logo-noteo</td>
    <td><i class="icon-logo-noteo"></i></td>
  </tr>
  <tr>
    <td>icon-user</td>
    <td><i class="icon-user"></i></td>
  </tr>
  <tr>
    <td>icon-teacher</td>
    <td><i class="icon-teacher"></i></td>
  </tr>
  <tr>
    <td>icon-users</td>
    <td><i class="icon-users"></i></td>
  </tr>
  <tr>
    <td>icon-evaluation</td>
    <td><i class="icon-evaluation"></i></td>
  </tr>
  <tr>
    <td>icon-tags</td>
    <td><i class="icon-tags"></i></td>
  </tr>
  <tr>
    <td>icon-pencil-1</td>
    <td><i class="icon-pencil-1"></i></td>
  </tr>
  <tr>
    <td>icon-eye</td>
    <td><i class="icon-eye"></i></td>
  </tr>
  <tr>
    <td>icon-trash</td>
    <td><i class="icon-trash"></i></td>
  </tr>
  <tr>
    <td>icon-help-circled</td>
    <td><i class="icon-help-circled"></i></td>
  </tr>
  <tr>
    <td>icon-down-open</td>
    <td><i class="icon-down-open"></i></td>
  </tr>
  <tr>
    <td>icon-plus</td>
    <td><i class="icon-plus"></i></td>
  </tr>
  <tr>
    <td>icon-circle-empty</td>
    <td><i class="icon-circle-empty"></i></td>
  </tr>
  <tr>
    <td>icon-eval-simple</td>
    <td><i class="icon-eval-simple"></i></td>
  </tr>
  <tr>
    <td>icon-eval-composee</td>
    <td><i class="icon-eval-composee"></i></td>
  </tr>
</table>

{% endblock %}
