{% extends 'admin_base.html.twig' %}

{% block tirePage %}Modifier un statut étudiant{% endblock %}

{% block statutsEtudiants %}active{% endblock %}

{% block contenu %}

    {{ include('statut/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('statut_index') }}">back to list</a>

    {{ include('statut/_delete_form.html.twig') }}
{% endblock %}
