{% extends 'base.html.twig' %}

{% block tirePage %}Créer un statut étudiant{% endblock %}

{% block statutsEtudiants %}active{% endblock %}

{% block contenu %}

    {{ include('statut/_form.html.twig') }}

    <a href="{{ path('statut_index') }}">back to list</a>
{% endblock %}
