{{form_start(form)}}

<h1 class="h4 mb-0 text-gray-800">Sélectionnez le type de statistiques que vous souhaitez générer</h1> <br>

<div class="table-responsive table-hover">
<table class="table" id= "sousGroupes">
<thead>
  <th></th>
  <th>Nom</th>
  <th>Description</th>
</thead>
<tbody>

{% for i in 0..1 %}
{# store index of the category in a variable #}
{% set index = i %}

{# get entity object from its index in the Categories Field #}
{% set entity = form.stats.vars.choices[index].data %}
{% if index == 0 %}
<tr>
        <td>{{form_widget(form.stats[index])}}</td>
        <td>Statistiques générales</td>
        <td>Générations de statistiques triviales : 
        répartition des notes, moyenne, médiane, écart-type, 
        note minimale et maximale</td>
</tr>
{% else %}
<tr>
        <td>{{form_widget(form.stats[index])}}</td>
        <td>Evolution des résultats par étudiant</td>
        <td>Génération de graphiques décrivant l'évolution 
        des résultats sur le temps et selon les évaluations 
        précédemment sélectionnées. Une courbe est générée 
        pour chaque étudiant de chaque groupe sélectionné au préalable</td>
</tr>

{% endif %}
{% endfor %}
</tbody>
</table>
<div class='bouton' align=center>
  <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Consulter les statistiques</button>
</div>

{{form_end(form)}}