{% extends 'base.html.twig' %}

{% block titrePage %}Choix des statistiques que vous désirez consulter{% endblock %}

{% block statistiques %}active{% endblock %}

{% block contenu %}
    <a href="#">Statistiques classiques</a> <br>
    <a href="#">Statistiques par parties</a><br>
    <a href="#">Statistiques sur plusieurs évaluations</a> <br>
    <a href="#">Statistiques sur plusieurs groupes ou statuts</a> <br>
{% endblock %}