{% extends 'base.html.twig' %}

{% block tirePage %}Modifier une évaluation{% endblock %}

{% block evaluations %}active{% endblock %}

{% block contenu %}

    {{ include('evaluation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evaluation_index') }}">back to list</a>

    {{ include('evaluation/_delete_form.html.twig') }}
{% endblock %}
