{% extends 'base.html.twig' %}

{% block tirePage %}Créer une évaluation{% endblock %}

{% block evaluations %}active{% endblock %}

{% block contenu %}

    {{ include('evaluation/_form.html.twig') }}

    <a href="{{ path('evaluation_index') }}">back to list</a>
{% endblock %}
