{% extends 'base.html.twig' %}

{% block tirePage %}Visualiser les statistiques{% endblock %}

{% block evaluations %}active{% endblock %}

{% block contenu %}



<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="evaluation_nom" >Nom de l'évaluation</label></th>
      <td>{{evaluation.nom}}</td>
    </tr>
    <tr>
      <td class="intitule"><label for="evaluation_groupe" >Groupe</label></td>
      <td>{{evaluation.groupe.nom}}</td>
    </tr>
    <tr>
      <td class="intitule"><label for="evaluation_date" >Date</label></td>
      <td>{{evaluation.date}}</td>
    </tr>
    <tr>
      <th class="intitule"><label >Actions</label></th>
      <td><a href="#"><i style="font-size: 25px;" class="icon-file-pdf"></i><a href="#"><i style="font-size: 25px;" class="icon-file-excel"></i><a href="#"><i style="font-size: 25px;" class="icon-mail"></i></a> </td>
    </tr>
  </tbody>
</table>

<div class="bouton">
  <span style="font-size:15px"class="badge badge-pill badge-danger">Les statistiques ne comportent pas les étudiants démissionaire</span>
</div>

<br>

<div class="card" style="width: 18rem; margin: 0 auto; float: none; margin-bottom: 10px;">
<div class="card-body">
  <h5 class="card-title">Card title</h5>
  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a href="#" class="card-link">Card link</a>
  <a href="#" class="card-link">Another link</a>
</div>
</div>

<p>Vous avez choisi de voir les stats de :</p>
<ul>
{% for item in groupes|keys %}
  <li>{{item}}</li>
{% endfor %}

</ul>



{% endblock %}
