{% extends 'base.html.twig' %}

{% block titrePage %}Consulter un enseignant{% endblock %}

{% block enseignants %}active{% endblock %}

{% block contenu %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ enseignant.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ enseignant.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ enseignant.mail }}</td>
            </tr>
            <tr>
                <th>Administrateur</th>
                <td>{{ enseignant.estAdmin ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
