{% extends 'base.html.twig' %}

{% block titrePage %}Consulter un enseignant{% endblock %}

{% block enseignants %}active{% endblock %}

{% block contenu %}
<div class='bouton'>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="location.href='{{ path('enseignant_edit', {'id': enseignant.id}) }}'">Modifier l'enseignant</button>
</div>
    <table class="table">
        <tbody>
            <tr>
                <th class="intitule">Nom</th>
                <td >{{ enseignant.nom }}</td>
            </tr>
            <tr>
                <th class="intitule">Prénom</th>
                <td >{{ enseignant.prenom }}</td>
            </tr>
            <tr>
                <th class="intitule">Mail</th>
                <td >{{ enseignant.email }}</td>
            </tr>
            <tr>
                <th class="intitule">Administrateur</th>
                <td >
                {% if enseignant.roles[1] is defined %}
                    Oui
                {% else %}
                    Non
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
