<form method="post" action="{{ path('groupe_etudiant_delete', {'id': groupe_etudiant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ groupe_etudiant.id) }}">
    <button class="btn"><i class="icon-trash" data-toggle="tooltip" title="Supprimer groupe"></i></button>
</form>
