{% extends 'base.html.twig' %}

{% block tirePage %}Modifier un groupe{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}

    {{ include('groupe_etudiant/_update_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('groupe_etudiant_index') }}">back to list</a>

{% endblock %}

{% block datatables %}

<script type="text/javascript">
$(document).ready(function() {
  $('#table').dataTable({
    language: {
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, null,{"orderable": false},{"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
