{% extends 'base.html.twig' %}

{% block titrePage %}Modifier {{ groupe_etudiant.nom }}{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}
    {{ include('groupe_etudiant/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <!-- Modale du ? de évaluable -->
    <div class="modal fade" id="HelpEvaluable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Aide</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div align=center class="modal-body">
            Cet attribut d'un groupe détermine si vous pourrez, ou non, créer des évaluations pour celui-ci.
          </div>
          <div class="modal-footer">
            <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="button" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block datatables %}

<script type="text/javascript">

  //Activation de Datatables sur le tableau d'ajout des étudiants
  var tableAjout = $('#tableAjouter').DataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, null,{"orderable": false},{"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });

  //Activation de Datatables sur le tableau de suppression des étudiants
  var tableSuppr = $('#tableSupprimer').DataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, null,{"orderable": false},{"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });

  //La fonction sera enclenchée lors de la soumission du formulaire
$("[name='groupe_etudiant_edit']").on('submit', function () {
  tableAjout.rows().nodes().page.len(-1).draw(); // Cette fonction permet, avant la soumission du formulaire, d'afficher dans le DOM toutes les lignes du tableau pour qu'aucune ne soit ignorée
  tableSuppr.rows().nodes().page.len(-1).draw();
});


</script>

{% endblock %}
