{% extends 'base.html.twig' %}

{% block tirePage %}Modifier un groupe{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}

    {{ include('groupe_etudiant/_update_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('groupe_etudiant_index') }}">back to list</a>

    {{ include('groupe_etudiant/_delete_form.html.twig') }}
{% endblock %}
