{% extends 'base.html.twig' %}

{% block tirePage %}Liste des groupes{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}

{% if tree is not empty %} {# On teste si la chaine représentant l'arbre n'est pas vide : si oui cela veut dire qu'il n'y a aucun groupe #}

    <table class="table" id="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Effectif</th>
                <th>Description</th>
                <th>Créateur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

          {# Affichage de la chaine en utilisant la fonction 'raw' qui va afficher la chaine telle que fournise, sans transformer le contenu#}
          {{ tree | raw }}
        </tbody>
    </table>
{% endif %}

{% if tree is empty %}
    <div class="info">
      <h2 class="h4 mb-0 text-gray-800">Vous n'avez aucun groupe</h1>
    </div>
    <div class="bouton">
      <a href="{{ path('groupe_etudiant_new') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Créer un groupe</a>
    </div>
{% endif %}


    <div class="modal fade" id="delGroupe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">Etes vous sur de vouloir supprimer le groupe ? </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
            <a class="btn btn-primary" id = "BoutonSupprimerModale" href="#">Supprimer le groupe</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block datatables %}

<script type="text/javascript">

/* Cette fonction est utilisée pour adapter le href du bouton de confirmation de la suppression
d'un groupe dans la fenetre modale, afin de contenir l'id du groupe cliqué
$('#BoutonCorbeille').click( function(e) {

  document.getElementById("machinbidule").innerHTML= this.href;
  //$("#delGroupe").modal(); return false; //On ouvre la fenêtre modale
  //document.getElementById("BoutonSupprimerModale").href = document.getElementById("BoutonCorbeille").href




});
*/
function maFonction(url) {
  $("#delGroupe").modal();
  document.getElementById("BoutonSupprimerModale").href = url;
}

$(document).ready(function() {
  $('#table').dataTable({
    aaSorting: [], // Pour désactiver le tri automatique
    language: {
      "url": "{{asset('tradfr.json')}}"
    },
    columns: [null, null, {"orderable": false}, null, {"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
