
{% extends 'base.html.twig' %}

{% block titrePage %}Créer un groupe{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}


{{ include('groupe_etudiant/_add_form.html.twig') }}

<!-- Modale du ? de évaluable -->
<div class="modal fade" id="HelpEvaluable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aide</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <center>Cet attribut d'un groupe détermine si vous pourrez, ou non, créer des évaluations pour celui-ci.</center>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block javascripts %}
<script>

/* Cette fonction est utilisée pour faire apparaitre le nom du fichier importé
dans le input type file du formulaire. Elle est nécéssaire à cause du CSS de Boostrap.
*/

$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});

</script>
{% endblock %}
