
{% extends 'base.html.twig' %}
{% block tirePage %}Créer un groupe{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}


{{ include('groupe_etudiant/_add_form.html.twig') }}


  <a href="{{ path('groupe_etudiant_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm bouton">Annuler</a>
</div>

{% endblock %}

{% block javascripts %}
<script>

/* Cette fonction est utilisée pour faire apparaitre le nom du fichier importé
dans le input type file du formulaire. Elle est nécéssaire à cause du CSS de Boostrap.
*/

$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});

</script>
{% endblock %}
