{% extends 'admin_base.html.twig' %}

{% block tirePage %}Créer un groupe{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}


{{ include('groupe_etudiant/_form.html.twig') }}
<a href="{{ path('groupe_etudiant_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Annuler</a></center>

{% endblock %}
