{% extends 'base.html.twig' %}

{% block titrePage %}Créer des parties{% endblock %}

{% block evaluations %}active{% endblock %}

{% block stylesheets %}
    <style>
        .badge {
            float: right;
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #0275d8;
            border-radius: 10px;
        }
        div .blue {color:#0275d8}
        div .red {color:red}
    </style>
{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <div id="arbre_boot">
            </div>
            <br>
            <div style="text-align: center">
                <button class="btn btn-primary" onclick="onCreerPartie()">Ajouter une partie</button>
            </div>
            <div style="text-align: center">
                <button class="btn btn-primary" onclick="onSupprimerPartie()">Supprimer une partie</button>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="modal fade" id="modalePartie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer une partie</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <form name="form" id="formPartie">
                <div class="modal-body">
                    <table align="center" class="table">
                        <tbody>
                            <tr>
                                <th class="intitule"><label for="statut_nom" class="required">Intitulé de la partie</label></th>
                                <td><input type="text" id="champIntitule" required maxlength="255" minlength="4" class="form-control"></td>
                            </tr>
                            <tr>
                                <th class="intitule"><label for="statut_description" class="required">Barème de la partie</label></th>
                                <td > <input type="number" id="champBareme" required min="0" step="0.1" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Valider</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalePasDePartieSelectionnee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actions sur les parties</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="text-align: center; font-weight: bold">Vous n'avez pas selectionné de partie !</div>
                    <br>
                    <ul>
                        <li>Pour ajouter une nouvelle partie, veuillez cliquer sur une partie dans le tableau à laquelle vous voulez ajouter une sous-partie</li>
                        <li>Pour modifier une partie, veuillez cliquer sur une partie que vous désirez modifier</li>
                        <li>Pour supprimer une partie, veuillez cliquer sur une partie que vous désirez supprimer</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="d-sm-inline-block btn btn-sm btn-primary" type="button" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = InitialisationTableau();

        //Initialisation du tableau
        function InitialisationTableau(){
            ajouterUnePartie(1, 'Exercice 1', 10); //2
            ajouterUnePartie(2, 'Question 1', 5); //3
            ajouterUnePartie(2, 'Question 2', 5); //4
            ajouterUnePartie(1, 'Exercice 2', 10); //5
            ajouterUnePartie(5, 'Question 1', 5); //6
            ajouterUnePartie(5, 'Question 2', 5); //7
        }

        function onCreerPartie() {
            //Récupération de la partie selectionnée par l'utilisateur
            var partieSelectionnee = $('#arbre_boot').treeview('getSelected');
            //Si il a selectionné une partie on passe à la suite, sinon on affiche la modale expliquant le fonctionnement des fonctionnalités
            if (partieSelectionnee.length != 0) {
                //Préparation du formulaire
                $("#formPartie").unbind(); //Suppression des écouteurs d'évenements précédents pour éviter de créer une partie en plusieurs exemplaires
                $('#champIntitule').val(''); //Vidage du champ
                $('#champBareme').val(''); //Vidage du champ
                //On affiche la modale du formulaire
                $('#modalePartie').modal('show');
                //On attend la soumission du formulaire
                $("#formPartie").submit(function (e) {
                    e.preventDefault(); //Pour que la page ne se rafraichisse pas lors de la validation
                    $('#modalePartie').modal('hide'); //Pour refermer la fenêtre modale
                    //On lance la création avec les informations du formulaires
                    ajouterUnePartie(partieSelectionnee[0].id, $('#champIntitule').val(), parseFloat($('#champBareme').val()));
                })
            }
            else {
                $('#modalePasDePartieSelectionnee').modal();
            }
        }

        function onSupprimerPartie() {
            //Récupération de la partie selectionnée par l'utilisateur
            var partieSelectionnee = $('#arbre_boot').treeview('getSelected');
            //Si il a selectionné une partie on passe à la suite, sinon on affiche la modale expliquant le fonctionnement des fonctionnalités
            if (partieSelectionnee.length != 0) {
                var parent = $('#arbre_boot').treeview('getParent', partieSelectionnee); //On recupère le parent d'où on va supprimer la partie selectionnée
                supprimerUnePartie(parent.id, partieSelectionnee[0]);
            }
            else {
                $('#modalePasDePartieSelectionnee').modal();
            }
        }
    </script>
{% endblock %}