{% extends 'admin_base.html.twig' %}

{% block tirePage %}Modifier un étudiants{% endblock %}

{% block etudiants %}active{% endblock %}

{% block contenu %}
    {{ include('etudiant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('etudiant_index') }}">back to list</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
