{% extends 'base.html.twig' %}

{% block tirePage %}Créer un étudiant{% endblock %}

{% block etudiants %}active{% endblock %}

{% block contenu %}
    {{ include('etudiant/_form.html.twig') }}

    <a href="{{ path('etudiant_index') }}">back to list</a>
{% endblock %}
